!!! 5
%html
  %head
    %title Сайт 
    %meta(charset="UTF-8")
    %meta(name="viewport", content="width=device-width, initial-scale=1.0")
    %link(rel="stylesheet", href="compiled.css")

  %body.padding-0px.margin-0px.font-roboto

    / Increase traffic & leads from search
    %section.display-flex.flex-wrap.justify-center.align-center.bg-yellow.padding-50px
      .margin-top-40px.width-40percent.width-100percent-mobile
        %h1.font-size-8.font-weight-300.margin-top-0px.margin-bottom-0px
          Increase traffic &amp;
          %br/
          leads from
          %br/
          search
        %p.p-4.font-weight-300.margin-top-40px Sample text. Click to select the Text Element.
        %button.bg-blue.hover-skyblue.text-white.font-size-2.margin-top-30px(style="width: 200px; height: 55px;") Read More
      .text-align-center.margin-top-40px.margin-bottom-50px.margin-left-10px.padding-10px.width-30percent.width-100percent-mobile.bg-white.border-radius-30px
        %img.width-50percent.margin-top-40px(src="img/img1.png")/
        %p.p-4.padding-10px ​Do you want to increase sales? You can use search engine optimization and our SEO agency to achieve your goals.
  
    / 300 Jobs Completed
    %section.display-flex.flex-wrap.justify-center.align-center.align-center.bg-grey.padding-20px.text-align-center
      .margin-top-20px.width-20percent.width-100percent-mobile
        %h1.text-yellow.font-size-9.font-weight-300.margin-top-0px.margin-bottom-0px 300
        %p.p-5.font-weight-300.margin-top-10px.text-white Jobs Completed
      .margin-top-20px.width-20percent.width-100percent-mobile
        %h1.text-yellow.font-size-9.font-weight-300.margin-top-0px.margin-bottom-0px 10k
        %p.p-5.font-weight-300.margin-top-10px.text-white Industry Experience
      .margin-top-20px.width-20percent.width-100percent-mobile
        %h1.text-yellow.font-size-9.font-weight-300.margin-top-0px.margin-bottom-0px 48
        %p.p-5.font-weight-300.margin-top-10px.text-white Global Clients
      .margin-top-20px.width-20percent.width-100percent-mobile
        %h1.text-yellow.font-size-9.font-weight-300.margin-top-0px.margin-bottom-0px 2k
        %p.p-5.font-weight-300.margin-top-10px.text-white Awards Winned
   
    / Why you need digital marketing
    %section.display-flex.flex-wrap.justify-center.align-center.bg-blue.padding-50px
      .margin-top-40px.width-40percent.width-100percent-mobile
        %h1.font-size-6.font-weight-300.margin-top-30px.margin-bottom-0px.text-white
          Why you need digital
          %br/
          marketing
        %p.p-4.font-weight-300.margin-top-40px.width-90percent.width-100percent-mobile.text-white Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %button.bg-lightblue.hover-skyblue.font-size-2.margin-top-30px(style="width: 200px; height: 60px;") Read More
      .text-align-center.margin-top-40px.margin-bottom-30px.margin-left-0px.padding-30px.width-40percent.width-100percent-mobile
        %img.width-90percent.width-100percent-mobile.border-radius-30px(src="img/img2.jpg")/
   
    / 24 customer support service
    %section.display-flex.flex-wrap.justify-center.align-center.bg-grey.padding-50px
      .margin-top-40px.width-40percent.width-100percent-mobile
        %h1.font-size-6.font-weight-300.margin-top-30px.margin-bottom-0px.text-white
          24/7 customer
          %br/
          support service
        %p.p-4.font-weight-300.margin-top-40px.width-90percent.width-100percent-mobile.text-white Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %button.bg-lightblue.hover-skyblue.font-size-2.margin-top-30px(style="width: 200px; height: 60px;") Read More
      .text-align-center.margin-top-40px.margin-bottom-30px.margin-left-0px.padding-30px.width-40percent.width-100percent-mobile
        %img.width-90percent.width-100percent-mobile.border-radius-30px(src="img/img3.jpg")/
   
    / Growth drives everything we do
    %section.display-flex.flex-wrap.justify-center.align-center.bg-red.padding-50px
      .text-align-center.margin-top-40px.margin-bottom-30px.margin-left-0px.padding-30px.width-40percent.width-100percent-mobile
        %img.width-90percent.width-100percent-mobile.border-radius-30px(src="img/img4.jpg")/
      .width-40percent.width-100percent-mobile
        %h1.font-size-6.font-weight-300.margin-top-30px.margin-bottom-0px.text-white
          Growth drives
          %br/
          everything we do
        %p.p-4.font-weight-300.margin-top-40px.width-90percent.width-100percent-mobile.text-white Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %button.bg-lightblue.hover-skyblue.font-size-2.margin-top-30px(style="width: 200px; height: 60px;") Read More
  
    / Make your marketing more effective
    %section.flex-wrap.justify-center.align-center.bg-grey.padding-20px.text-align-center
      .margin-top-20px
        %h1.font-size-6.font-weight-300.margin-top-30px.margin-bottom-0px.text-white
          Make your marketing more
          %br/
          effective
        %button.bg-lightblue.hover-skyblue.font-size-2.margin-top-30px.margin-bottom-30px(style="width: 200px; height: 60px;") Read More